*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Animal Kingdom";
    src: url(fonts/Animal\ Kingdom.ttf) format("truetype");
  }

#gridwrapper {
    display: grid;
    grid-template-columns: minmax(100px, 50%) minmax(100px, 50%);
    grid-template-rows: minmax(8vh, 8vh) minmax(105vh, 105vh)minmax(105vh, 105vh)minmax(105vh, 105vh) minmax(20vh, 20vh);
    grid-template-areas: 
    "he he"
    "div1 div1"
    "div2 div3"
    "div4 div4"
    "fo fo"
    ;

}

footer{ 
    grid-area: fo;
}

header {
    background-color: black;
    grid-area: he;
    height: 18vh;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(black 50%,rgba(255,255,255,0));
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20vh;
    grid-template-areas: 
   "ti na";
}


h1{ 
    font-size: 3vh;
    font-family: 'animal kingdom';
}

/* menyn */
#title{
    background-color: red;
    grid-area: ti;
    width: 100%;
    height: 100%;
}

.main_menu {
list-style-type: none;
grid-area: na;
background-color: blue;
height: 100%;
width: 100%;
}

.menu_icon{
}

.menu_link:link { text-decoration: none; }
.menu_link{
    margin: 5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

/* menu link ticker */
.menu_link_tickets { text-decoration: none; }
#menu_tickets {
background-color: white;
border: 0.7vh solid white
}
.menu_link_tickets{
    margin: 5vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}


h1 {
color: white;
font-size: 5vh;
}




main {
background-color: blue;
grid-area: ma;
display: flex;
justify-content: center;
}

/* images index */
#image1{
background-image: url(../img/Slideshow_animals/Elephants2.jpg);
background-color: blue;
grid-area: div1;
background-size: cover;
background-position: center;
}
#image2{
background-image: url(../img/index_images/Deers.jpg);
background-color: red;
grid-area: div2;
background-size: cover;
background-position: center;
}
#image3{
    background-image: url(../img/index_images/map.jpg);
background-color: black;
grid-area: div3;
background-size: cover;
background-position: center;
}
#image4{
    background-image: url(../img/index_images/signs.jpg);
background-color: blueviolet;
grid-area: div4;
background-size: cover;
background-position: center;
}



/* Restaurant */
#section_food{
    display: flex;
    flex-wrap: wrap;
}

.article_food {
    width: 180px;
    height: 210px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#article_beef {
    background: url(../img/Cards_food/beef.jpg);
    background-size: contain;
}
#article_pork {
    background: url(../img/Cards_food/pork.jpg);
    background-size: contain;
}
#article_pasta {
    background: url(../img/Cards_food/pasta.jpg);
    background-size: contain;
}
#article_fish {
    background: url(../img/Cards_food/fish.jpg);
    background-size: contain;
}
#article_burger {
    background: url(../img/Cards_food/burger.jpg);
    background-size: contain;
}
#article_salad {
    background: url(../img/Cards_food/salad.jpg);
    background-size: contain;
}
#article_avocado_toast {
    background: url(../img/Cards_food/Avocado_toast.jpg);
    background-size: contain;
}
