*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Animal Kingdom";
    src: url(fonts/Animal\ Kingdom.ttf) format("truetype");
  }

footer{ 
    grid-area: fo;
    background-color: rgb(60, 60, 60);
    height: 100%;
}


#gridwrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8vh 100vh 18vh 105vh 105vh 18vh;
    grid-template-areas: 
    "he he"
    "div1 div1"
    "in in"
    "div2 div3"
    "div4 div4"
    "fo fo"
    ;

}



header {
    background-color: black;
    grid-area: he;
    height: 18vh;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(black 50%,rgba(255,255,255,0));
    overflow: visible;
    display: flex;
    justify-content: center;
    z-index: 1;
}


/* menyn */
.menu {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 11vh;
    
}
#title{
    background-color: ;
    display: flex;
    align-items: center;
    
}

.main_menu {
    list-style-type: none;
    background-color: ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25vh;
}

.menu_icon{

}

.menu_link:link { text-decoration: none; }
.menu_link{
    margin: 4vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

/* menu link ticker */
.menu_link_tickets { text-decoration: none; }
#menu_tickets {
background-color: white;
border: 0.9vh solid white;
border-radius: 1vh;
height: 4vh;
display: flex;
align-items: center;
justify-content: center;
}

.menu_link_tickets{
    margin: 5vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vh;
}


h1 {
color: white;
font-size: 4vh;
font-family: 'animal kingdom';
}

/* index */

/*info*/
#info{
    background-color: rgb(0,150,69);
    grid-area: in;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info_container{
    width: 190vh;
    height: 20vh;
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.info_icon{

}

.info_box{
display: flex;
margin: 7vh;
display: flex;
justify-content: center;
align-items: center;
}



.info_text{
display: flex;
flex-direction: column;
color: rgb(0, 50, 25);
margin: 1vh;
}

.info_title{
font-family: cursive;
font-size: 4vh;
}

.info_subtitle{
font-family: cursive;
font-size: 2.4vh;
}

.image_info_box{
    width: 7.6vh;
    height: 7.6vh;
    
}


/* images index */
.image_text_container{
    position: relative;
    top: 90vh;
    width: 60vh;
    height: 10vh;
    background-color: rgb(0,150,69);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vh;
    color: white;
}
/*image 1*/
#image1{
background-image: url(../img/Slideshow_animals/Elephants2.jpg);
background-color: blue;
grid-area: div1;
background-size: cover;
background-position: center;
display: flex;
    align-items: center;
    justify-content: center;
}

#image1_text{
    height: 20vh;
    background-color: ;
    display: flex;
}

#image1_buy_tickets{
    background-color: white;
    border: 1.2vh solid white;
    height: ;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vh;
    height: 5vh;
}


/*image 2*/
#image2{
background-image: url(../img/index_images/Deers.jpg);
background-color: red;
grid-area: div2;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
}

#image2_text_container{
    background-color: rgb(0,150,69);
}

/*image 3*/
#image3{
background-image: url(../img/index_images/map.jpg);
background-color: black;
grid-area: div3;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
}

#image3_text_container{
    background-color: orange;
}

/*image 4*/
#image4{
    background-image: url(../img/index_images/signs.jpg);
background-color: blueviolet;
grid-area: div4;
background-size: cover;
background-position: center;
}



/* Restaurant */


#gridwrapper2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8vh  100vh 18vh;
    grid-template-areas: 
    "he he"
    "fd fd"
    "fo fo"
    ;

}



main{
grid-area: fd;
display: flex;
justify-content:center ;
align-items: center;
flex-direction: column;
}

#menu{
    font-family: cursive;
    font-size: 6vh;
}


#section_food{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
   

   justify-content: center;
}
.cards{
    width: 25vh;
    height: 32vh;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

.article_food {
   height: 25vh;
   width: 100%;
   border-radius: 30px 30px 0px 0px;
}

.food_text{
    height: 7vh;
    font-family: cursive;
    font-size: 1.4vh;
    width: 96%;
    border-radius: 0px 0px 30px 30px ;
}

#article_beef {
    background: url(../img/Cards_food/beef.jpg);
    background-size:cover;
    background-position: center;
}
#article_pork {
    background: url(../img/Cards_food/pork.jpg);
    background-size:cover;
    background-position: center;
}
#article_pasta {
    background: url(../img/Cards_food/pasta.jpg);
    background-size:cover;
    background-position: center;
}
#article_fish {
    background: url(../img/Cards_food/fish.jpg);
    background-size:cover;
    background-position: center;
}
#article_burger {
    background: url(../img/Cards_food/burger.jpg);
    background-size:cover;
    background-position: center;
}
#article_salad {
    background: url(../img/Cards_food/salad.jpg);
    background-size:cover;
    background-position: center;
}
#article_avocado_toast {
    background: url(../img/Cards_food/Avocado_toast.jpg);
    background-size:cover;
    background-position: center;
}






/* about us */
#gridwrapper3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8vh 47vh 70vh 70vh 70vh 30vh;
    grid-template-areas: 
    "he he"
    "div1 div1"
    "div2 div2"
    "div3 div3"
    "div4 div4"
    "fo fo"
    ;
}

#top_image {
    grid-area: div1;
    background-image: url(../img/About_us_images/meerkat.png);
    background-size:cover;
    background-position: center;
}

#about_the_wild_frontier{
color: white;
position: relative;
text-shadow: 0.5vh 0.5vh 1vh black;
top: 40vh;
font-size: 5vh;
margin-left: 2vh;
font-family: Arial, Helvetica, sans-serif;
}

/* our mission */

.about_us_container{
    width: 180vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.about_us_text{
    width: 50%;
    margin: 2vh;
    font-family: cursive;
}

.about_us_image{
    width: 50%;
    height: 50vh;
    margin: 2vh;
}

.about_us_title{
    margin-bottom: 4vh;
    font-size: 5vh;
}

.about_us_body_text{
font-size: 3vh;
}

/*our mission*/
#our_mission{
    grid-area: div2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image_our_mission{
    background-image: url(../img/About_us_images/turtle.jpg);
    background-size:cover;
    background-position: center;
    height: 100%;
    border-radius: 5vh;
}

/* our story */
#our_story{
    grid-area: div3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image_our_story{
    background-image: url(../img/About_us_images/our_story.jpg);
    background-size:cover;
    background-position: center;
    height: 100%;
    border-radius: 5vh;
}

/* partners*/
#partners{
    grid-area: div4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image_partners{
    background-image: url(../img/About_us_images/camel.jpg);
    background-size:cover;
    background-position: center;
    height: 100%;
    border-radius: 5vh;
}
