*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Animal Kingdom";
    src: url(fonts/Animal\ Kingdom.ttf) format("truetype");
  }

#gridwrapper {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: minmax(70px, 70px) minmax(2000px, 100px);
    grid-template-areas: 
    "he" 
    "ma";
    
}

header {
    background-color: rgb(128, 30, 30);
    display: flex;
    grid-area: he;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    }



h1{ 
    font-size: 3vh;
    font-family: 'animal kingdom';
}

/* menyn */
.menu {
    width: 65%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);;
    display: flex;
    align-items: center;
}

.main_menu {
background-color:  blue;
display: flex;
justify-content: center;
width: 70%;
margin-left: 5vh;
}

.menu_icon{
}
.menu_link:link { text-decoration: none; }

ul {
    list-style-type: none;
}

.menu_link{
    margin: 5vh;
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}


h1 {
color: white;
}



main {
background-color: blue;
grid-area: ma;
display: flex;
justify-content: center;
}

.slideshow-container {
    margin: 0px;
    
  }

.slideshow_images {
height: 100vh;
}

.mySlides {
  display: none;
}

/* Restaurant */
#section_food{
    display: flex;
    flex-wrap: wrap;
}

.article_food {
    width: 180px;
    height: 210px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#article_beef {
    background: url(../img/Cards_food/beef.jpg);
    background-size: contain;
}
#article_pork {
    background: url(../img/Cards_food/pork.jpg);
    background-size: contain;
}
#article_pasta {
    background: url(../img/Cards_food/pasta.jpg);
    background-size: contain;
}
#article_fish {
    background: url(../img/Cards_food/fish.jpg);
    background-size: contain;
}
#article_burger {
    background: url(../img/Cards_food/burger.jpg);
    background-size: contain;
}
#article_salad {
    background: url(../img/Cards_food/salad.jpg);
    background-size: contain;
}
#article_avocado_toast {
    background: url(../img/Cards_food/Avocado_toast.jpg);
    background-size: contain;
}
